### macOS ###
*.DS_Store

# Thumbnails
._*

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# PREPROS
prepros.cfg